// ====================================================================
// Comment Form
// ====================================================================

.comment-form {
  display: flex;
  flex-direction: column;

  &__contact {
    display: flex;
    flex-direction: column;

    @include mobile {
      flex-direction: row;
    }

    & .input {
      margin-bottom: 20px;
    }

    & .input:last-child {
      margin-left: 0;

      @include mobile {
        margin-left: 20px;
      }
    }
  }

  &__message {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }
}
