// ====================================================================
// Grid
// ====================================================================

$columns: 4;

.grid {
  display: flex;
  flex-flow: row wrap;
}

.grid--gutter {
  margin: -1em 0 0 -1em;
}

.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

//
// Cell
// ===========================================

.grid__cell {
  box-sizing: inherit;
  flex-basis: 100%;
  min-width: 0;
}

.grid--gutter > .grid__cell {
  padding: 1em 0 0 1em;
}

.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}
.grid-cell--justifyEnd {
  margin-left: auto;
}

.grid__cell--fit {
  flex: 1;
}
@include breakpoint($mobile) {
  .grid > .mobile-grid__cell--fit {
    flex: 1;
  }
}
@include breakpoint($tablet) {
  .grid > .tablet-grid__cell--fit {
    flex: 1;
  }
}

@for $i from 1 through $columns {
  @for $j from 1 through $i {
    $w: ($j/$i) * 100%;

    @if $j == 1 {
      .grid__cell--1of#{$i} {
        flex: 0 0 $w;
      }
      @include breakpoint($mobile) {
        .grid > .mobile-grid__cell--1of#{$i} {
          flex: 0 0 $w;
        }
      }
      @include breakpoint($tablet) {
        .grid > .tablet-grid__cell--1of#{$i} {
          flex: 0 0 $w;
        }
      }
    }
  }
}
