// ====================================================================
// Wrapper
// ====================================================================

.wrapper {
  max-width: 866px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}
