// ====================================================================
// Button
// ====================================================================

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 122px;
  height: 42px;
  padding: 0 2em;
  background-color: transparent;
  border: 3px solid $primary;
  border-radius: 50vh;
  color: $gray-900;
  font-family: inherit;
  font-size: .8em;
  font-weight: $weight-600;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  &:active {
    background-color: $primary-darker;
    border: 3px solid $primary-darker;
    color: $white;
  }
}
