// ====================================================================
// Nav
// ====================================================================

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    @include tablet {
      display: block;
      margin-top: 0;
    }
  }

  &__item {
    display: inline-flex;
  }

  &__item > a {
    width: 100%;
    padding: 1em;
    color: $white;
    font-size: 1em;
    font-weight: $weight-400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    outline: none;
    opacity: .6;
    transition: opacity .1s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @include tablet {
      font-size: .8em;
      opacity: 1;
      text-shadow: 0 3px 8px rgba($black,.3);

      &:hover {
        opacity: .6;
      }
    }
  }
}
