// ====================================================================
// Social
// ====================================================================

.social {
  display: flex;
  align-items: center;
  padding: $gutter;

  > *:not(:last-child) {
    margin-right: 1em;
  }
}
