/* Base
 * ---------------------------------- */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
}

::-moz-selection {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
}


/* Header
 * ---------------------------------- */

.idl-header {
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  height: 62px;
  padding: 0 12px;
  background-color: transparent;
}

.idl-header__logo {
  margin: 0;
  padding: 12px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.idl-header__logo.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.idl-header__nav {
  flex: 1;
  text-align: right;
}

.idl-header__burger {
  display: none;
  width: 22px;
  height: 16px;
  cursor: pointer;
}

.idl-burger__bar {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #fff;
}

.idl-header__list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.idl-header__link {
  display: inline-block;
  padding: 12px;
  color: #fff;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

.idl-header__link:hover {
  background-color: rgba(255, 255, 255, .2);
}


/* Main
 * ---------------------------------- */

.idl-main {
  height: 100%;
}

.idl-main__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.idl-main__title {
  position: relative;
  z-index: 3;
  color: #fff;
  margin: 0 auto 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 5.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transition: opacity .3s ease-in-out;
}

.id-main__title.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.idl-main__subtitle {
  position: relative;
  z-index: 3;
  color: #fff;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
}

.idl-main__img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('https://static.pexels.com/photos/60626/pexels-photo-60626.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.idl-main__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}


/* Breakpoints
 * ---------------------------------- */
/**
 * 'small': 480px,
 * 'medium': 720px,
 * 'large': 1025px,
 * 'x-large': 1280px
 */

@media screen and (max-width: 720px) {
  .idl-main__title {
    font-size: 4.5em;
  }

  .idl-main__subtitle {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 480px) {
  .idl-main__title {
    font-size: 3.2em;
  }

  .idl-main__subtitle {
    font-size: 1.4em;
  }
}
