<header class="idl-header">
  <a class="idl-header__logo u-hidden" href="/">
    {{ site.title }}
  </a>
  <label class="idl-header__burger js-idl-header__burger">
    <span class="idl-burger__bar idl-burger__bar--top"></span>
    <span class="idl-burger__bar idl-burger__bar--mid"></span>
    <span class="idl-burger__bar idl-burger__bar--bot"></span>
  </label>
  <nav class="idl-header__nav js-idl-header__nav">
    <ul class="idl-header__list">
      <li class="idl-header__item">
        <a class="idl-header__link" href="https://github.com/iagodahlem" target="_blank">Github</a>
      </li>
      <li class="idl-header__item">
        <a class="idl-header__link" href="https://twitter.com/iagodahlem" target="_blank">Twitter</a>
      </li>
      <li class="idl-header__item">
        <a class="idl-header__link" href="https://www.linkedin.com/in/iago-dahlem-lorensini-780a445a" target="_blank">Linkedin</a>
      </li>
    </ul>
  </nav>
</header>
