<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.author }}">

  <!-- Twitter Summary Card / Source: https://dev.twitter.com/cards/types/summary -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="">

  <!-- Facebook Open Graph / Source: https://developers.facebook.com/docs/sharing/best-practices -->
  <meta property="og:title" content="">
  <meta property="og:site_name" content="">
  <meta property="og:url" content="">
  <meta property="og:description" content="">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:image" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="" type="image/x-icon" />

  <!-- Color browser - Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  <!-- Color browser - Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000000">
  <!-- Color browser - iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Stylhesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
