<div class="menu">

</div>

<header class="header">
  <h1 class="header__title" href="/">
    {{ site.title }}
  </h1>

  <label class="toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="idl-header__link" href="https://github.com/iagodahlem" target="_blank">Github</a>
      </li>
      <li class="nav__item">
        <a class="idl-header__link" href="https://twitter.com/iagodahlem" target="_blank">Twitter</a>
      </li>
      <li class="nav__item">
        <a class="idl-header__link" href="https://www.linkedin.com/in/iago-dahlem-lorensini-780a445a/" target="_blank">Linkedin</a>
      </li>
    </ul>
  </nav>
</header>
