/* Breakpoints
 * ---------------------------------- */
/**
 * 'small': 480px,
 * 'medium': 720px,
 * 'large': 1025px,
 * 'x-large': 1280px
 */

@media screen and (max-width: 720px) {
  .idl-header__logo {
    font-size: 1.4em;
  }

  .idl-main__title {
    font-size: 4.5em;
  }

  .idl-main__subtitle {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 480px) {
  .idl-header__logo {
    font-size: 1.2em;
  }

  .idl-header__burger {
    display: inline-block;
  }

  .idl-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    padding: 24px 24px 72px;
    background-color: #212121;
    text-align: left;
    will-change: transform;
    transform: translateX(-100%);
    transition: all .3s ease-in-out;
  }

  .idl-header__nav.is-open {
    transform: translateX(0);
  }

  .idl-header__nav .idl-header__list {
    flex-direction: column;
    width: 100%;
  }

  .idl-header__nav .idl-header__link {
    display: block;
    padding: 12px 0;
    color: rgba(255, 255, 255, .8);
  }

  .idl-header__nav .idl-header__link:hover {
    display: block;
    color: #fff;
    background-color: transparent;
  }

  .idl-main__title {
    font-size: 3.2em;
  }

  .idl-main__subtitle {
    font-size: 1.4em;
  }
}
