// ====================================================================
// Code
// ====================================================================

:not(pre) > code {
  padding: 2px 5px;
  font-size: .9em;
  border-radius: 2px;
  color: $white;
  background-color: $gray-800;
}

pre[class*="language-"] {
  font-size: .8em;
  padding: 12px;
  border-radius: 2px;
  background-color: $gray-900;
}
