// ====================================================================
// Horizontal Row
// ====================================================================

hr {
  margin-bottom: 1.25em;
  border-top: 1px solid $gray-300;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
