// ====================================================================
// Default Variables
// ====================================================================

// Base
$base-font-size:                16px !default;
$base-line-height:              1.5 !default;

// Fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-arvo: 'Arvo', serif;
$font-open-sans: 'Open Sans', sans-serif;

// Weights
$weight-300:                    300 !default;
$weight-400:                    400 !default;
$weight-500:                    500 !default;
$weight-700:                    700 !default;

// Breakpoints
$mobile:                        480px !default;
$tablet:                        768px !default;
$desktop:                       1024px !default;

// Gutter
$gutter:                        1em !default;

// Border Radius
$base-border-radius: 4px;
