// ====================================================================
// Z-Index Scale
// ====================================================================

$zIndex-1:                         100 !default;
$zIndex-2:                         200 !default;
$zIndex-3:                         300 !default;
$zIndex-4:                         400 !default;
$zIndex-5:                         500 !default;
$zIndex-6:                         600 !default;
$zIndex-7:                         700 !default;
$zIndex-8:                         800 !default;
$zIndex-9:                         900 !default;

//
// Components Z-Index
// ===========================================

$header-z-index:                   $zIndex-1 !default;
$menu-z-index:                     $zIndex-2 !default;
