// ====================================================================
// Link
// ====================================================================

a {
  color: $primary;
  transition: color .1s ease-in-out;

  &:hover {
    color: $primary-darker;
  }
}
