// ====================================================================
// Page
// ====================================================================

html {
  min-height: 100%;
  background-color: $white;
  font-family: $font-montserrat;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
