// ====================================================================
// Button
// ====================================================================

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 122px;
  height: 42px;
  padding: 0 2em;
  border: 1px solid transparent;
  border-radius: 50vh;
  box-shadow: 0 3px 8px rgba($black,.05);
  font-family: inherit;
  font-size: .8em;
  transition: background-color .3s ease;
  user-select: none;
  outline: none;
  cursor: pointer;
}

//
// Color
// ===========================================

.button--default {}
.button--primary {}
.button--accent {}
