// ====================================================================
// Card
// ====================================================================

.card {
  width: 100%;

  & > a {
    text-decoration: none;
  }

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

//
// Title
// ===========================================

.card__title {
  color: $gray-800;
  font-family: $font-arvo;
  font-size: 1.3em;
  font-weight: $weight-500;
  text-transform: uppercase;

  @include tablet {
    font-size: 1.6em;
  }

  @include desktop {
    font-size: 1.6em;
  }
}

//
// Description
// ===========================================

.card__description {
  margin-top: .2em;
  color: $gray-800;
  font-family: $font-open-sans;
  font-size: .9em;

  @include tablet {
    font-size: 1em;
  }

  @include desktop {
    font-size: 1em;
  }
}

//
// Footer
// ===========================================

.card__footer {
  display: flex;
  margin-top: .5em;

  > a:not(:last-child) {
    text-decoration: none;
  }
}

.card__date {
  color: $gray-500;
}

.card__link {
  margin-left: 1em;
  color: $gray-800;
  text-decoration: underline;
  transition: color .1s ease-in-out;
}

.card:hover .card__link {
  color: $gray-700;
}

.card__date,
.card__link {
  font-size: .8em;
  text-transform: uppercase;
}

@include tablet {
  .card__date,
  .card__link {
    font-size: .9em;
  }
}

@include desktop {
  .card__date,
  .card__link {
    font-size: .9em;
  }
}
