// ====================================================================
// Nav
// ====================================================================

$nav-zIndex: $zIndex-1 !default;

.nav {
  position: fixed;
  z-index: $nav-zIndex;
  top: 80px;
  right: 0;
  width: 80%;
  max-width: 330px;
  height: 100%;
  padding: .8em;
  background-color: $gray-300;
  transform: translateX(100%);
  will-change: transform;
  pointer-events: auto;

  @include desktop {
    position: initial;
    width: initial;
    max-width: initial;
    height: initial;
    background-color: initial;
    transform: initial;
    will-change: initial;
  }
}

//
// Nav List
// ===========================================

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @include desktop {
    display: block;
  }
}

//
// Nav Item
// ===========================================

$nav-item-link-weight: $weight-400;

.nav__item {
  display: inline-flex;
}

.nav__item > a {
  width: 100%;
  padding: 1em;
  color: $white;
  font-size: .8em;
  font-weight: $nav-item-link-weight;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: opacity .1s ease-in-out;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

//
// Menu
// ===========================================

.menu.menu--visible .nav {
  transform: translateX(0);
}

.menu.menu--animatable .nav {
  transition: all 130ms ease-in;
}

.menu.menu--visible.menu--animatable .nav {
  transition: all 300ms ease;
}
