// ====================================================================
// Footer
// ====================================================================

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  padding: $gutter;
  border-top: 1px solid $gray-100;
}

//
// Paragraph
// ===========================================

.footer__paragraph {
  color: $gray-400;
  font-size: .8em;
}

.footer__paragraph > a {
  color: inherit;
}

.heart {
  display: inline-block;
  color: red;
  // animation: heartbeat .6s linear infinite running;
}

@keyframes heartbeat {
  from {
    transform: scale3d(1,1,1);
  }
  to {
    transform: scale3d(1.2,1.2,1.2);
  }
}
