// ====================================================================
// Header
// ====================================================================

$header-height: 62px !default;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 $gutter;
  background-color: transparent;
}

//
// Tittle
// ===========================================

.header__title {
  a {
    color: $white;
    font-family: $font-arvo;
    font-size: 1em;
    text-decoration: none;
    transition: opacity .3s ease;
  }

  &:hover a {
    opacity: .8;
  }
}

//
// Toggle
// ===========================================

.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: $header-height;
  height: 100%;
  margin-right: -#{$gutter};
  padding: 0 1.3em;
  cursor: pointer;
  user-select: none;
  outline: none;
  overflow: hidden;

  @include desktop {
    display: none;
  }
}

.header__toggle > span {
  display: inline-flex;
  width: 100%;
  height: 2px;
  background-color: $white;
  transition: opacity .3s ease, transform .3s ease;

  &:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
    transform: scale3d(.8,1,1);
    transform-origin: left;
  }
}

.header__toggle:hover > span {
  opacity: .8;

  &:nth-child(2) {
    transform: scale3d(1,1,1);
  }
}

//
// Nav
// ===========================================

.header > .nav {
  @include breakpoint($mobile) {
    display: none;
  }
  @include breakpoint($tablet) {
    display: none;
  }
}
