// ====================================================================
// Icon
// ====================================================================

.icon > svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;

  path {
    fill: rgba($white,.6);
    transition: fill .1s ease-in-out;
  }
}

.icon:hover > svg path {
  fill: $white;
}
