// ====================================================================
// Page
// ====================================================================

.page {
  min-height: 100%;
}

//
// Header
// ===========================================

.page__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 528px;

  .page__title {
    font-family: $font-arvo;
  }

  .page__description {

  }

  .page__title,
  .page__description {
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }

  .page__banner {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
