// ====================================================================
// Post
// ====================================================================

.post__header {
  margin-bottom: 1em;
}

.post__date {
  color: $gray-500;
  font-size: .8em;
  font-weight: $weight-500;
  text-transform: uppercase;

  @include tablet {
    font-size: .9em;
  }

  @include desktop {
    font-size: .9em;
  }
}

//
// Content
// ===========================================

.post__content {
  margin-bottom: 4em;
  font-family: $font-open-sans;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-montserrat;
    font-weight: $weight-500;
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5, h6, p,
  ul {
    margin-bottom: 1.25rem;
  }
}
