// ====================================================================
// Post List
// ====================================================================

.post-list {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

//
// Title
// ===========================================

.post-list__title {
  font-family: $font-arvo;
  font-size: 1.3em;
  font-weight: $weight-500;
  text-transform: uppercase;

  @include tablet {
    font-size: 1.6em;
  }

  @include desktop {
    font-size: 1.6em;
  }

  > a {
    color: $gray-800;
    text-decoration: none;
    transition: color .1s ease-in-out;

    &:hover {
      color: $gray-700;
    }
  }
}

//
// Description
// ===========================================

.post-list__description {
  margin-top: .2em;
  color: $gray-800;
  font-family: $font-open-sans;
  font-size: .9em;

  @include tablet {
    font-size: 1em;
  }

  @include desktop {
    font-size: 1em;
  }
}

//
// Footer
// ===========================================

.post-list__footer {
  display: flex;
  margin-top: .5em;
}

.post-list__date {
  color: $gray-500;
}

.post-list__link {
  margin-left: 1em;
  color: $gray-800;
  text-decoration: underline;
  transition: color .1s ease-in-out;

  &:hover {
    color: $gray-700;
  }
}

.post-list__date,
.post-list__link {
  font-size: .8em;
  text-transform: uppercase;
}

@include tablet {
  .post-list__date,
  .post-list__link {
    font-size: .9em;
  }
}

@include desktop {
  .post-list__date,
  .post-list__link {
    font-size: .9em;
  }
}
