// ====================================================================
// Post
// ====================================================================

.post__header {
  margin-bottom: 1em;
}

.post__date {
  color: $gray-500;
  font-size: .8em;
  font-weight: $weight-500;
  text-transform: uppercase;

  @include tablet {
    font-size: .9em;
  }

  @include desktop {
    font-size: .9em;
  }
}

//
// Content
// ===========================================

.post__content {
  font-family: $font-open-sans;
  color: $gray-800;

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-arvo;
    font-weight: $weight-500;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
    @include tablet {
      font-size: 1.6em;
    }
    @include desktop {
      font-size: 1.6em;
    }
  }

  h3 {
    font-size: 1.2em;
    @include tablet {
      font-size: 1.4em;
    }
    @include desktop {
      font-size: 1.4em;
    }
  }

  h4 {
    font-size: 1em;
    @include tablet {
      font-size: 1.2em;
    }
    @include desktop {
      font-size: 1.2em;
    }
  }

  p {
    margin-bottom: 1em;
    font-size: .9em;
    @include tablet {
      font-size: 1em;
    }
    @include desktop {
      font-size: 1em;
    }
  }

  table {
    width: 100%;
    th {
      text-align: left;
    }
  }

  ul {
    margin-left: 2em;
  }
}
